In [1]:
import pandas as pd
import xlwings as xw
from xlwings.constants import AutoFillType

In [2]:
df = pd.read_csv('~/github/excel/euro_numbers.csv')
df.sample(5)

,No.,Day,DD,MMM,YYYY,N1,N2,N3,N4,N5,L1,L2,Jackpot,Wins
1638,187,Fri,7,Sep,2007,42,3,34,2,33,5,3,10222500,1
1058,767,Tue,27,Jan,2015,10,33,5,31,40,10,8,16266792,1
993,832,Fri,11,Sep,2015,19,50,10,29,18,9,1,11032500,0
439,1386,Fri,1,Jan,2021,32,16,48,44,28,1,9,39774466,1
343,1482,Fri,3,Dec,2021,46,21,32,22,29,9,10,111176000,0

In [3]:
wb = xw.Book()

print(xw.apps)

Apps([<App [excel] 41932>])

In [4]:
print(xw.apps[41932].books)

Books([<Book [LeaseEnd Financials(AutoRecovered).xlsm]>, <Book [Book13]>, <Book [Book14]>])

In [5]:
print(xw.apps[41932].books.count)

3

In [6]:
print(wb.sheets)

Sheets([<Sheet [Book14]Sheet1>])

In [7]:
#creates a worksheet object assigns it to ws
ws = wb.sheets["Sheet1"]
#checks that wb.sheets[0] equals ws
print(ws == wb.sheets[0])

True

In [8]:
ws.name = "EuroMillions"

In [9]:
ws.range("A1").value = df

In [10]:
ws.clear_contents()
ws.range("A1").options(index=False).value = df

In [11]:
last_row = ws.range("A1,A1").end('down').row
print("The last row is {row}.".format(row=last_row))
print("The DataFrame df has {rows} rows.".format(rows=df.shape[0]))

The last row is 1826.
The DataFrame df has 1825 rows.

In [12]:
print(dir(ws.range("A2:N{row}".format(row=last_row))))

['__call__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__firstlineno__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__static_attributes__', '__str__', '__subclasshook__', '__weakref__', '_impl', '_options', 'add_hyperlink', 'address', 'adjust_indent', 'api', 'autofill', 'autofit', 'characters', 'clear', 'clear_contents', 'clear_formats', 'color', 'column', 'column_width', 'columns', 'copy', 'copy_from', 'copy_picture', 'count', 'current_region', 'delete', 'end', 'expand', 'font', 'formula', 'formula2', 'formula_array', 'get_address', 'group', 'has_array', 'height', 'hyperlink', 'impl', 'insert', 'last_cell', 'left', 'merge', 'merge_area', 'merge_cells', 'name', 'note', 'number_format', 'offset', 'options', 'paste', 'raw_value', 'resize', 'row', 'row_height', 'rows', 'select', 'shape', 'sheet', 'size', 'table', 'to_pdf', 'to_png', 'top', 'ungroup', 'unmerge', 'value', 'width', 'wrap_text']

In [13]:
# ws.range(
# f"A2:N{last_row}".format(row=last_row)
# ).sort(Key1=ws.range("A:A").api, Order1=1)

In [14]:
ws.range("O1").value = "Date2"
ws.range("O2")

In [15]:
ws.range("O2").value = "TEST"

In [16]:
last_row = ws.range("C" + str(ws.cells.last_cell.row)).end("up").row
# formula = '=CONCAT(C2,"-", D2,"-",E2)'
# ws.range('P2:P{last_row}').formula = formula
ws.range(f"P2:P{last_row}").formula = '=DATE(E2, MONTH(1& D2), C2)'

In [17]:
ws.range("M:M").number_format = "$#,##0"

In [18]:
# Format column B as date
ws.range("P:P").number_format = "mm/dd/yyyy"

# Format column C as percentage
# ws.range("C:C").number_format = "0.00%"

In [19]:
# Set column width
ws.range("A:A").column_width = 15

# Set font size & bold
ws.range("A:A").font.size = 14
ws.range("A:A").font.bold = True

In [20]:
for arg4 in (0, 1):
    for arg3 in (0, 1):
        for arg2 in (0, 1):
            for arg1 in (0, 1):
                print(ws.range("O2").get_address(arg1, arg2, arg3, arg4))

O2
O$2
$O2
$O$2
EuroMillions!O2
EuroMillions!O$2
EuroMillions!$O2
EuroMillions!$O$2
[Book14]EuroMillions!O2
[Book14]EuroMillions!O$2
[Book14]EuroMillions!$O2
[Book14]EuroMillions!$O$2
[Book14]EuroMillions!O2
[Book14]EuroMillions!O$2
[Book14]EuroMillions!$O2
[Book14]EuroMillions!$O$2

In [21]:
def autofill(worksheet, cell, last_row):
   rg_cell = worksheet.range(cell)
   to_fill = "{col}{top_row}:{col}{last_row}".format(
      col=rg_cell.get_address(0,0)[0],
      top_row=rg_cell.row,
      last_row=last_row
   )
   rg_cell.api.Autofill(worksheet.range(to_fill).api, 0)

In [22]:
print(type(ws.range("O2:O{row}".format(row=last_row)).value))
print(ws.range('O2:O{row}'.format(row=last_row)).value[:10])

<class 'list'>
['TEST', None, None, None, None, None, None, None, None, None]

In [23]:
ws.range('O2').options(transpose=True).value = ws.range('O2:O{row}'.format(row=last_row)).value

In [24]:
ws.range('O:O').delete()

In [25]:
import datetime

for day in ws.range(f"O2:O{last_row}"):
# checks if day is not prior to the change of the rules
    
    if day.value <= datetime.datetime(2016, 9, 24, 0, 0):
        print(day.value)
        # since day is past the modification date,
        # the row we want is the previous one, hence minus 1
        to_delete = int(day.get_address(0, 0)[1:])-1
        # leave the for cycle
        break
        
ws.range('2:{}'.format(to_delete)).delete()

2016-09-23 00:00:00

In [26]:
last_column = ws.range("A1,A1").end('right').get_address(0,0)[0]
last_column

'N'

In [32]:
ws.autofit()
ws.range('A:L').column_width = ws.range('M:M').column_width

In [33]:
# Add new sheet
wb.sheets.add('Frequencies')
frequencies = wb.sheets['Frequencies']

In [34]:
# add a header for the numbers
frequencies.range('A1').value = 'Number'
# populate the fifty cells immediately below with the numbers 1 through 50
# since we're starting from the second row, we'll want to substract 1 from the row
frequencies.range('A2:A51').value = '=ROW()-1'

In [37]:
# add a header for the frequencies
frequencies.range('B1').value = 'Frequency'
# insert on B2 the result of a standard Excel formula
frequencies.range('B2:B51').formula = '=COUNTIF(Euromillions!$C$2:$G$201,Frequencies!A2)'

In [39]:
frequencies.range('D1').value = 'Lucky Star'
frequencies.range('E1').value = 'Frequency'
frequencies.range('D2:D13').value = '=ROW()-1'
frequencies.range('E2:E13').formula = '=COUNTIF(EuroMillions!$H$2:$I$201,Frequencies!D2)'

frequencies.autofit()

In [40]:
wb.sheets.add('Graphs')
graphs = wb.sheets['Graphs']

In [45]:
nr_freq = xw.Chart()
nr_freq.name = 'Number Frequencies'
nr_freq.set_source_data(frequencies.range('Frequencies!B1:B51'))
nr_freq.fullSeriesCollection(1).XValues = '=Frequencies!A2:A51'

AttributeError: 'Chart' object has no attribute 'full_series_collection'